/*
    stylesheet.css

    Contains the main formatting rules
    for hutchie.scot and accompanying
    sites.
*/

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/content/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}

html    {
    -webkit-font-smoothing: antialiased;
    /* -moz-osx-font-smoothing: grayscale; */
}

:root   {
    --col-status:           "light";
    --col-fg:               rgb(255, 255, 250);
    --col-fg-trans:         rgba(255, 255, 255, 0.4);
    --col-home-fc:          rgb(235, 235, 235);
    --col-text-main:        black;
    --col-home-fc-button:   rgb(204, 204, 204);
    --col-links:            blue;

    --col-status-dark:          "dark";
    --col-fg-dark:              rgb(87, 87, 87);
    --col-fg-trans-dark:        rgba(182, 182, 182, 0.4);
    --col-home-fc-dark:         rgb(80, 80, 80);
    --col-text-main-dark:       white;
    --col-home-fc-button-dark:  white;
    --col-links-dark:           orange;
}

*   {
    box-sizing:         border-box;
    transition:         background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition:         background-image 0.2s;
    -webkit-transition: background-image 0.2s;

    text-decoration:    none;
}

body, header    {
    font-family:            'IBM Plex Sans', Arial;
    font-size:              14px;
    margin:                 0;
    height:                 100%;
    background-color:       var(--col-fg);
    color:                  var(--col-text-main);
}

@media screen and (min-width: 740px)    {
    body, header    {
        font-size:              16px;
    }
}

body a  {
    color:                  var(--col-links);
}

h1, h2, h3, h4, h5, h6  {
    padding:            0;
    margin:             0;
    color:              var(--col-text-main);
    /* color:              red; */
}

a.anchor {
    display:    block;
    position:   relative;
    top:        -70px;
    visibility: hidden;
}

h1  {
    font-size:          3rem;
}

#banner-title   {
    font-size:          3rem;
}

@media screen and (min-width: 740px)    {
    #banner-title   {
        font-size:          5rem;
    }
}

#banner-title strong    {
    color:              white;
}

#banner-text-box, #banner-spacer, #banner-title, #banner-countdown  {
    color:              white;
}

h2  {
    font-size:          2em;
}

h3  {
    font-size:          1.3em;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6   {
    /* font-size:          initial; */
    padding:            initial;
    margin:             initial;
    margin-top:         5px;
}

.markdown h1    {
    font-size:          4rem;
}

.markdown a {
    color:              var(--col-links);
}

.banner-spacer  {
    width:              100%;
    height:             600px;
    position:           relative;
    padding:            20px;

    display:            flex;
    justify-content:    center;
    align-items:        center;
    align-content:      center;
    flex-direction:     column;

    overflow:           hidden;
}

.banner-spacer::after   {
    content:                "";
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-position:    center;
    background-size:        cover;
    /* -webkit-filter:         blur(4px) grayscale(100%); */
    /* filter:                 blur(4px) grayscale(100%); */
    transform:              scale(1.1); 
    top:                    40px;
    left:                   0;
    bottom:                 0;
    right:                  0;
    position:               fixed;
    height:                 620px;
    z-index:                -1;
}

#banner-spacer-clip {
    position:               absolute;
}

.banner-corner  {
    width:                  200px;
    height:                 200px;
    position:               absolute;
    background-color:       var(--col-fg);
    right:                  0;
    bottom:                 0;

    background:             radial-gradient(circle at top left, transparent 200px, var(--col-fg) 0);
}

#banner-spacer-home::after  {
    background-image:       url('/content/hutchie-main-banner-keyboard.jpg');
    -webkit-filter:         blur(4px) grayscale(80%);
    filter:                 blur(4px) grayscale(80%);
    transform:              scale(1.1);
}

#banner-spacer-status::after    {
    background-image:       url('/content/status-banner-halo.jpg');
    -webkit-filter:         blur(4px) grayscale(80%);
    filter:                 blur(4px) grayscale(80%);
    transform:              scale(1.1);
}

#banner-spacer-project::after   {
    background-image:       url('/content/crt-960-colour-short.gif');
}

.homepage   {
    background-color:   var(--col-fg);
    padding:            20px;
    padding-top:        50px;
    padding-bottom:     50px;
}

.bg-copyright   {
    color:              white;
    background-color:   rgba(0, 0, 0, 0.2);
    position:           absolute;
    left:               0;
    bottom:             0;

    padding:            2px;
}

.bg-copyright a   {
    color:              white;
}

@media screen and (max-width: 740px)    {
    .bg-copyright {
        font-size:      10px;
    }
}

.fc-container-home {
    width:              100%;

    display:            flex;
    justify-content:    center;
    align-content:      center;
    align-items:        flex-start;
    flex-direction:     row;
    flex-wrap:          wrap;
}

@media screen and (min-width: 1450px)    {
    .fc-container-home {
        padding-left:   15%;
        padding-right:  15%;
    }
}

.fc-home    {
    width:              300px;
    height:             300px;
    margin:             20px;
    padding:            40px;

    display:            flex;
    justify-content:    center;
    align-content:      center;
    align-items:        center;
    flex-direction:     column;

    background-color:   var(--col-home-fc);

    border-radius:      5px;
}

.fc-wide  {
    width:              100%;
    /* width:              300px; */
    /* height:             300px; */
    /* margin:             0; */
    /* margin-top:         20px; */
    /* margin-bottom:      20px; */
    margin:             20px;
    padding:            20px;

    display:            flex;
    justify-content:    center;
    align-content:      center;
    align-items:        center;
    flex-direction:     column;

    background-color:   var(--col-home-fc);

    border-radius:      10px;
}

.fc-row  {
    flex-direction:     row;
}

.fc-status-container {
    width:              100%;
}

@media screen and (min-width: 900px)    {
    .fc-status-container {
        width:              70%;
    }
}

.fc-status  {
    padding:            0;
    margin-top:         0;
}

.half-container {
    width:              45%;
    margin:             10px;
}

@media screen and (max-width: 900px)    {
    .fc-status  {
        flex-direction: column;
        width:          100%;
    }
}

@media screen and (max-width: 1125px)    {
    .half-container {
        width:          100%;
    }

    .fc-row {
        flex-direction: column;
    }
}

.fc-shadow  {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow:         0px 0px 10px 0px rgba(0,0,0,0.25);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 740px)    {
    h1  {
        font-size:      3rem;
    }

    .banner-spacer  {
        height:         350px;
    }

    .banner-spacer::after   {
        height:         400px;
    }

    .banner-corner  {
        width:                  75px;
        height:                 75px;

        background:             radial-gradient(circle at top left, transparent 75px, var(--col-fg) 0);
    }

    .homepage   {
        padding-bottom: 0;
        /* margin-top:     350px; */
    }

    .fc-container-home  {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 945px)    {
    .fc-container-home {
        flex-direction:     row;
    }
    
    .fc-home    {
        margin-top:     10px;
        margin-bottom:  10px;
    }
}

.fc-home-button  {
    padding:            15px;
    padding-left:       20px;
    padding-right:      20px;
    margin-top:         5px;
    margin-left:        5px;
    margin-right:       5px;
    height:             50px;
    background-color:   var(--col-fg);
    display:            flex;
    align-content:      center;
    align-items:        center;
    justify-content:    center;
    color:              var(--col-text-main);
    border-radius:      5px;
    border:             solid 1px grey;
    transition:         background-color 0.2s;
}

.fc-home-button a   {
    color:              var(--col-text-main);
}

.fc-home-button:hover   {
    background-color:   var(--col-home-fc-button);
    color:              black;
}

.fc-home-button:disabled    {
    color:              lightgrey;
}

.fc-home-button:disabled:hover    {
    background-color:   var(--col-fg);
    color:              var(--col-text-main);
}

.fc-form-textarea   {
    margin-left:        5px;
    margin-right:       5px;
    height:             50px;
    background-color:   var(--col-fg);
    color:              var(--col-text-main);
    border-radius:      5px;
    border:             solid 1px grey;
    transition:         background-color 0.2s;
}

#twitter-button:hover {
    background-color:   lightblue;
}

.text-box-tight  {
    width:              100%;
    text-align:         justify;
    text-justify:       inter-word;
}


@media screen and (min-width: 960px)    {
    .padlr30-960    {
        padding-left:       30%;
        padding-right:      30%;
    }
}

/* FLEX CONTAINER SPLIT */

.fc-proj-column {
    width:              100%;
    margin-left:        20px;
    margin-right:       20px;

    display:            flex;
    justify-content:    flex-start;
    align-content:      flex-start;
    align-items:        flex-start;
    flex-direction:     column;
}

.fc-container-split  {
    width:              100%;
    margin-bottom:      40px;

    display:            flex;
    justify-content:    flex-start;
    align-content:      flex-start;
    align-items:        flex-start;
    flex-direction:     column;

    background-color:   var(--col-home-fc);

    border-radius:      5px;
}

.fc-split-img   {
    width:              100%;
}

.fc-split-text-box   {
    /* width:              50%; */
    padding:            20px;
    flex-grow:          2;

    text-align:         center;

    display:            flex;
    align-content:      center;
    align-content:      center;
    align-items:        center;
    flex-direction:     column;
}

.fc-container-proj-buttons  {
    width:              100%;
    bottom:             0;

    display:            flex;
    justify-content:    center;
    align-content:      center;
    align-items:        center;
    flex-direction:     row;

    margin-top:         10px;
}

.fc-prog-button {
    margin-left:        10px;
}

@media screen and (min-width: 740px)    {
    .fc-proj-column {
        width:          40%;
    }
}

@media screen and (min-width: 1000px)    {
    .fc-proj-column {
        width:          28%;
    }
}

.header {
    color:              var(--col-text-main);
    font-size:          18px;
    position:           fixed;
    width:              100%;
    max-width:          100%;
    height:             50px;
    z-index:            1000;
    top:                0;
    padding:            0;
    background-color:   var(--col-fg);
    box-shadow:         0 6px 10px -10px #888888;
    text-decoration:    none;
    padding:            0;
}

.header-left    {
    float:              left;
    height:             50px;
    width:              25%;
    padding-left:       20px;
    display:            flex;
    justify-content:    flex-start;
    align-items:        center;
    text-decoration:    none;
}

.header-right   {
    float:          left;
    width:          75%;
    height:         100%;
}

.header a {
    color:              var(--col-text-main);
}

.header-menu-container   {
    height:             auto;
    display:            flex;
    flex-direction:     row;
    flex-wrap:          nowrap;
    justify-content:    right;
}

.header-menu-button   {
    height:             50px;
    text-align:         center;
    float:              left;
    width:              25%;
    text-decoration:    none;
    color:              var(--col-text);
    -webkit-transition: background-color .2s;
    transition:         background-color .2s, height 0.5s;
    display:            flex;

    justify-content:    center;
    align-items:        center;
    align-content:      center;
}

#theme-changer  {
    width:              50px;
    height:             50px;
}

.header-menu-button:hover   {
    background-color:   var(--col-home-fc);
    cursor:             pointer;
    height:             60px;
}

.header-options-button  {
    width:              50px;
    display:            none;
    float:              left;
    height:             50px;
    padding-top:        0px;
    font-size:          34px;
}


.header-spacer  {
    height:             50px;
}

/* @media screen and (max-width: 945px)    {
    .header-spacer  {
        height:             50px;
    }
} */

@media screen and (max-width: 930px)	{
    .header {
        height:             auto;
        z-index:            1000;
        top:                0;
        padding:            0;
        text-decoration:    none;
    }
    
    .header-left    {
        float:              left;
        width:              100%;

        display:            flex;
        justify-content:    flex-end;
        align-items:        center;
    }

    .header-options-button  {
        display:            flex;
        justify-content:    center;
        align-items:        center;
        align-content:      center;
    }

    #web-title  {
        padding-right:       20px;
    }
    
    .header-right   {
        float:              left;
        width:              100%;
        height:             auto;
        display:            flex;
        flex-direction:     column;
        transition:         margin 2s;
    }

    .header-menu-container   {
        /* height:             100%; */
        flex-direction:     column;
        flex-wrap:          wrap;
        justify-content:    center;
        display:            none;
    }
    
    .header-menu-button {
        transition:         padding-right 0.5s;
        background-color:   var(--col-fg);
        padding-right:      20px;
        justify-content:    flex-end;
        align-items:        center;
        align-content:      center;
        width:              100%;
    }

    .header-menu-button:hover   {
        padding-right:      40px;
        height:             50px;
    }

    #theme-changer  {
        width:              100%;
    }
}

@media screen and (min-width: 1400px)   {
    .header {
        width:          100%;
        /* margin-left:    13%; */
        /* margin-right:   13%; */
        padding-left:   13%;
        padding-right:  13%;
        margin:         0;
    }
}

.text-box   {
    width:              100%;
    text-align:         center;
}

.flex-box   {
    display:            flex;
    justify-content:    center;
    align-items:        center;
    align-content:      center;
    flex-direction:     column;
}

.pad20 {
    padding:            20px;
}

.marg20 {
    margin:             20px;
}

/* SERVER STATUS STUFF */

.s-status-bar-cont  {
    width:              100%;
    height:             auto;
    display:            flex;
    justify-content:    center;
    align-content:      center;
    align-items:        center;
    flex-direction:     column;
}

.s-status-bar-header   {
    width:                      100%;
    padding:                    10px;
    background-color:           var(--col-fg);
    text-align:                 right;
    transition:                 background-color 0.2s;

    border-top-left-radius:     5px;
    border-top-right-radius:    5px;
}

.s-status-bar-header:hover   {
    cursor:             pointer;
    background-color:   lightgrey;
}

.s-status-bar-status  {
    width:              100%;
    padding:            10px;
    background-color:   lightblue;
    text-align:         center;
    color:              black;
}

.s-status-table-cont    {
    width:                      100%;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
    overflow:                   hidden;
}

.s-status-table {
    border-spacing:             0; 
    border-collapse:            separate;
    width:                      100%;
}

.s-status-table tr:last-child {
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
}

.s-status-table th, .s-status-table td {
    padding:            10px;
}

.s-status-table th {
    width:              25%;
    text-align:         right;
    background-color:   var(--col-fg);
}

.nmarge  {
    margin:             0;
}

.npad   {
    padding:            0;
}

.footer-spacer-cont {
    width:              100%;
    padding:            20px;

    display:            flex;
    justify-content:    center;
    align-content:      center;
    align-items:        center;
    flex-direction:     column;
}

.footer-spacer  {
    width:              50%;
    height:             2px;
    background-color:   grey;
}

.footer {
    font-size:          14px;
    color:              grey;
}

/* ##### SVGTEST ##### */

.graph-test-container   {
    padding-top:        0;
    margin-top:         0;
    margin-bottom:      20px;
    height:             50vh;
}

.graph-options-container    {
    width:              100%;
    height:             initial;
    /* float:              left; */
}

.input-container    {
    /* color:              white; */
    width:              100%;
    height:             70vh;
    /* float:              left; */
}

.graph-details-container    {
    /* color:              white; */
    border:             solid 1px black;
    width:              100%;
    height:             100%;
    float:              left;
    overflow-y:         scroll;
}

.graph-details-t   {
    width:              100%;
    border-spacing:     0;
    /* border:             0; */
    /* border:             solid 1px black; */
    /* text-align:         center; */
}

.graph-details-t th, .graph-details-t td {
    /* border:             solid 1px black; */
    text-align:         center;
    border:             0;
    padding:            2px;
}

.graph-details-t th {
    /* border-bottom:      solid 1px black; */
    text-align:         center;
}

.graph-details-t td {
    border-top:         solid 1px black;
    /* border-bottom:      solid 1px black; */
}

#graph-edge-t   {
    width:              100%;
    padding:            2px;
    border-spacing:     0;
    border:             0;
    /* border:             solid 1px red; */
    text-align:         center;
}

#graph-edge-t th, #graph-edge-t td  {
    padding:            2px;
    border:             0;
    text-align:         center;
}

.input-area {
    /* background-color:   var(--col-fg); */
    /* color:              white; */
    width:              100%;
    height:             100%;
    max-width:          100%;
    max-height:         100%;
    border:             solid 1px black;
}

.ace_text-input {
    /* color:              white; */
}

.path-output-container  {
    float:              left;
    width:              100%;
    height:             70%;
    /* display:            flex;
    justify-content:    center;
    align-items:        center;
    align-content:      center; */
    border:             solid 1px black;
    overflow-y:         scroll;
}

#dijkstra-output-table  {
    border-spacing:     0;
    width:              100%;
    border-spacing:     0;
    /* border:             0; */
    /* border:             solid 1px black; */
}

#dijkstra-output-table td, #dijkstra-output-table th   {
    padding:            2px;
    border:             0;
    text-align:         center;
}

#dijkstra-output-table th   {
    padding:            2px;
    border-bottom:      solid 1px black;
}

.graph-container    {
    float:              left;
    width:              100%;
    height:             100%;
}

@media screen and (min-width: 900px)	{
    .graph-test-container   {
        height:             70vh;
    }

    .graph-container    {
        width:              60%;
        height:             100%;
    }

    .graph-options-container    {
        /* width:              15%; */
        height:             100%;
        /* float:              left; */
    }

    .path-output-container  {
        width:              15%;
        height:             100%;
    }

    .graph-details-container    {
        /* color:              white; */
        width:              25%;
        height:             100%;
        float:              left;
    }
}

.graph-box  {
    width:          100%;
    height:         100%;
    border:         solid 1px black;
}

.static {
    fill:           #888;
    cursor:         not-allowed;
}

.draggable {
    /* fill:           #007bff; */
    cursor:         move;
}

.draggable:hover {
    stroke:         red;
}

.graph-box text {
    font-family:    Arial;
    font-size:      10px;
    color:          black;
}

.edge   {
    z-index:        -1;
}
