:root   {
    --col-bg:           white;
    --col-text:         black;
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url(/content/ShareTechMono-Regular.ttf);
}

html    {
    -webkit-font-smoothing: antialiased;
    color:          var(--col-text);
    padding:        0;
    margin:         0;
}

*   {
    color:              var(--col-text);
    box-sizing:         border-box;
    font-family:        -apple-system,
    BlinkMacSystemFont,
    Segoe UI,Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

body    {
    padding:            0;
    width:              100%;
    margin-left:        auto;
    margin-right:       auto;
    margin-top:         0;
    margin-bottom:      0;
}

main    {
    padding:            0;
    width:              100%;
    max-width:          900px;
    margin-left:        auto;
    margin-right:       auto;
    margin-top:         0;
    background-color:   #f1f1f1;
}

header  {
    background-color:   black;
}

.nav-wrapper    {
    width:              100%;
    max-width:          900px;
    margin-left:        auto;
    margin-right:       auto;
    display:            flex;
    justify-content:    flex-start;
    align-items:        flex-end;
    align-content:      flex-start;
    flex-direction:     row;
    color:              white;
    padding:            30px;
    padding-top:        23px;
    /* padding-top:        30px; */
    /* padding-bottom:     30px; */
}

a:focus, a:hover   {
    outline:            3px solid rgb(255, 182, 47);
}

nav {
    height:             2em;
    display:            flex;
    justify-content:    flex-start;
    align-items:        flex-start;
    align-content:      center;
    flex-direction:     row;
    flex-wrap:          wrap;
    margin-left:        20px;
}

.nav-wrapper h1  {
    margin-bottom:      0;
    margin-top:         5px;
    padding:            0;
}

.nav-wrapper h1 a  {
    color:              white;
    text-decoration:    none;
    padding:            7px;
}

nav a   {
    color:              white;
    flex-grow:          1;
    padding:            20px;
    /* padding-left:       20px; */
    /* padding-right:      20px; */
}

nav a:focus   {
    flex-grow:          1;
}

.sec-header  {
    display:            inline-block;
    font-size:          1.4em;
    margin-bottom:      5px;
}

.inner-hline   {
    height:             3px;
    width:              90%;
    background-color:   black;
    margin-left:        5%;
}

footer    {
    width:              100%;
    max-width:          900px;
    margin-left:        auto;
    margin-right:       auto;
    text-align:         center;
    font-size:          0.9em;
    padding-left:       7%;
    padding-right:      7%;
    display:            flex;
    justify-content:    center;
    align-items:        flex-start;
    align-content:      center;
    flex-direction:     row;
    background-color:   rgb(213, 231, 255);
}

.footer-item  {
    flex-grow:          1;
    text-align:         left;
    margin:             40px;
    /* margin-left:        10px; */
    padding-left:       10px;
    color:              #585858;
    border-left:        2px solid #585858;
}

.footer-item a  {
    color:              #585858;
}

section   {
    padding-top:        40px;
    padding-bottom:     40px;
    padding-left:       7%;
    padding-right:      7%;
    line-height:        1.6;
}

p {
    margin:             0;
    color:              inherit;
}

.coloured-body  {
    /* background-color:   rgb(255, 143, 143); */
    background-color:   rgb(255, 188, 188);
    color:              black;
}

.coloured-body a, .coloured-body b  {
    color:              inherit;
}

.coloured-body a:focus,
.coloured-body a:hover   {
    outline:            3px solid rgb(47, 154, 255);
}

.coloured-body .cv-contact-info-element:hover,
.coloured-body .cv-contact-info-element:focus  {
    -webkit-box-shadow: -5px 5px 0px 0px rgb(47, 154, 255);
    -moz-box-shadow:    -5px 5px 0px 0px rgb(47, 154, 255);
    box-shadow:         -5px 5px 0px 0px rgb(47, 154, 255);
}

.wide-image-cont   {
    width:              90%;
    margin-left:        5%;
    height:             100px;
    overflow:           hidden;
}

.wide-image-cont-proj   {
    margin:             0;
    margin-top:         20px;
    margin-bottom:      20px;
    max-height:         100px;
    overflow:           hidden;

    display:            flex;
    justify-content:    center;
    align-items:        center;
    align-content:      center;
    /* flex-direction:     column; */
}

.wide-image {
    width:              100%;
    filter:             grayscale(80%);
}

.cv-contact-info-cont {
    display:            flex;
    justify-content:    center;
    align-items:        center;
    align-content:      center;
    flex-direction:     row;
}

.cv-contact-info-element  {
    width:              35%;
    margin:             20px;
    /* padding:            20px; */
    outline:            2px solid black;
    text-align:         center;
    -webkit-box-shadow: -5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow:    -5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow:         -5px 5px 0px 0px rgba(0,0,0,1);
}

.cv-contact-info-element:hover,
.cv-contact-info-element:focus  {
    -webkit-box-shadow: -5px 5px 0px 0px rgba(255, 182, 47, 1);
    -moz-box-shadow:    -5px 5px 0px 0px rgba(255, 182, 47, 1);
    box-shadow:         -5px 5px 0px 0px rgba(255, 182, 47, 1);
}

.cv-contact-info-link {
    font-size:          0.9em;
}

.cv-contact-info-element a  {
    display:            block; 
    width:              100%; 
    height:             100%;
    padding:            20px;
    text-decoration:    none;
    color:              black;
}

.cv-contact-info-element span  {
    color:              black;
}

.cv-info-table  {
    margin-top:         30px;
    border-collapse:    collapse;
    width:              90%;
    margin-left:        5%;
    font-size:          16px;
    border:             1px solid black;
    border-top:         25px solid black;
}

.cv-info-table th   {
    vertical-align:     top;
    font-weight:        normal;
    padding:            10px;
    width:              24%;
    text-align:         right;
    border-right:       1px solid black;
    font-weight:        bold;
}

.cv-info-table td   {
    padding:            10px;
    width:              76%;
    text-align:         left;
}

.mc-players-table, .mc-players-table-mobile    {
    margin-top:         30px;
    border-collapse:    collapse;
    width:              90%;
    margin-left:        5%;
    font-size:          16px;
    border:             1px solid black;
    border-top:         25px solid black;
}

.mc-players-table-mobile    {
    display:    none;
}

@media screen and (max-width: 330px)    {
    .mc-players-table   {
        display:    none;
    }

    .mc-players-table-mobile    {
        display:    table;
    }
}

.mc-players-table th, .mc-players-table-mobile th    {
    vertical-align:     middle;
    font-weight:        normal;
    padding-top:        10px;
    padding-bottom:     10px;
    text-align:         center;
    border-bottom:      1px solid black;
    font-weight:        bold;
}

.mc-players-table .online, .mc-players-table-mobile .online    {
    width:              10%;
    vertical-align:     middle;
    text-align:         center;
    font-weight:        normal;
    /* padding:            10px; */
    border-right:       1px solid black;
}

.mc-players-table-mobile .online    {
    border-bottom:      1px solid black;
}

.mc-players-table .skin  {
    width:              10%;
    display:            block;
    text-align:         center;
    padding:            0;
    overflow:           hidden;
    width:              60px;
    height:             60px;
    margin-left:        auto;
    margin-right:       auto;
}

.mc-players-table img  {
    width:              100%;
    image-rendering: optimizeSpeed;             /*                     */
    image-rendering: -moz-crisp-edges;          /* Firefox             */
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: pixelated;                 /* Chrome as of 2019   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

.mc-players-table .name, .mc-players-table-mobile .name  {
    width:              40%;
    vertical-align:     middle;
    text-align:         center;
    font-weight:        normal;
    /* padding:            10px; */
}

.mc-players-table-mobile .name  {
    width:              90%;
    border-bottom:      1px solid black;
}

.mc-players-table .play-time, .mc-players-table-mobile .play-time {
    width:              40%;
    vertical-align:     middle;
    text-align:         center;
    font-weight:        normal;
    /* padding:            10px; */
}

.mc-players-table-mobile .play-time {
    width:              100%;
    border-bottom:      1px solid black;
}

.sec-alert  {
    outline:            2px solid red;
    background-color:   rgb(255, 195, 195);
    padding:            20px;
}

.qr-input-cont   {
    display:            flex;
    justify-content:    center;
    align-items:        center;
    align-content:      center;
    flex-direction:     row;
    margin-top:         20px;
}

.qr-label   {
    width:              20%;
}

.qr-input   {
    width:              80%;
    text-align:         left;
    margin:             10px;
    font-size:          16px;
}

.qr-output  {
    display:            flex;
    justify-content:    center;
    align-items:        center;
    align-content:      center;
    flex-direction:     row;
    margin-top:         20px;
    margin-bottom:      20px;
}

.qr-output-cont  {
    display:            flex;
    justify-content:    center;
    align-items:        center;
    align-content:      center;
    flex-direction:     row;
}

.qr-output-label   {
    width:              20%;
}

.qr-output-url   {
    width:              80%;
    text-align:         left;
    margin:             10px;
    font-size:          16px;
}

.code   {
    font-family:        'Courier New', Courier, monospace;
}

@media screen and (max-width: 900px)    {
    .nav-wrapper    {
        flex-direction:     column;
    }
    
    .cv-contact-info-cont {
        flex-direction:     column;
    }
    
    .cv-contact-info-element  {
        width:              80%;
    }
    
    .nav-wrapper    {
        margin-left:        5%;
        padding-bottom:     10px;
        padding-top:        17px;
        width:              90%;
        justify-content:    flex-start;
        align-items:        flex-start;
        align-content:      flex-start;
        text-align:         center;
    }

    .nav-wrapper h1    {
        display:            block;
        width:              100%;
        text-align:         center;
        margin-bottom:      10px;
    }
    
    nav {
        width:              100%;
        margin-left:        0;
        justify-content:    space-evenly;
        height:             auto;
    }
    
    nav a   {
        /* margin:             15px; */
        text-align:         center;
    }
    
    footer    {
        padding:            10px;
        align-items:        center;
        flex-direction:     column;
        align-items:        flex-start;
    }
    
    .footer-item  {
        margin:             10px;
        text-align:         left;
    }

    .qr-input-cont   {
        flex-direction:     column;
        margin-top:         20px;
    }
    
    .qr-label   {
        width:              100%;
    }
    
    .qr-input   {
        width:              100%;
        text-align:         left;
    }
    
    .qr-output  {
        flex-direction:     row;
    }
    
    .qr-output-cont  {
        flex-direction:     column;
    }

    .qr-output-label   {
        width:              100%;
    }
    
    .qr-output-url   {
        width:              100%;
        text-align:         left;
    }
}